



:root {
    font-size: 100%;
    color: antiquewhite;
    font-family: 'Bruno Ace SC', cursive;
}

body {
    background-color: rgb(7 7 7);
}

#first-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#main-container {
    background-image: url(pics/abstract-futuristic-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px -5px 88px 7px rgba(54, 140, 43, 0.50);;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid antiquewhite;
    border-radius: 20px;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 800px;
    height: 480px;
    z-index: 1;
}

#form-container {
    background-color: rgba(62, 60, 60, 0.585);
    opacity: 100%;
}
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}



#birth-date-input {
    margin: 2rem;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    padding: 10px;
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
}

#birth-date-input:focus-visible {
    outline: 4px solid #368c2b;
    
}

#birth-date-input:hover {
    outline: 4px solid #368c2b;
    
}

#submit-button {
    display: none;
}

#submit-label {
    margin-bottom: 2rem;
    padding: .5rem;
    color: black;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
#submit-label:hover {
    outline: 4px solid #368c2b;
}

#answer-div {
    color: #368c2b;
    font-size: 0.8rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 375px) {

    body {
        margin: 0;
        padding: 0;
    }

    #first-container {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h1 {
        font-size: 1rem;
    }
    
    #main-container {
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: auto;
        margin: auto;
        padding: .5rem;
        box-sizing: border-box;
    }

    form {
        padding: .5rem;
        box-sizing: border-box;

    }

    
    #birth-date-input {
        width: auto;
    }
    #submit-label {
        width: 200px;
    }

    #answer-div {
        background-color: #ffffff;
    }
}